<nav class="navbar navbar-light .bg-gradient-light" style="background-color: #999999;">

  <%= link_to 'Advert Desk Zaigraevo district', root_path, class: 'navbar-brand' %>
  <a class="navbar-brand" href="#">
    <%# image_tag("console-one.png", {:style => "width:200px;", :class => "rounded"}) %>
    <%# image_tag("github-one.png", {:style => "width:260px;", :class => "rounded"}) %>
  </a>

  <span class="navbar-text">
    <% if user_signed_in? %>
      Welcome, <b><%= current_user.email %></b> Guru |
      <% if current_user.admin? %>
        <button type="submit" class="btn"><%= link_to 'Admin panel', admin_tests_path %></button>
      <% else %>
        <button type="submit" class="btn"><%= link_to 'Send your feedback', new_feedback_url %></button>
      <% end %>

      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>

    <% else %>
      <%= link_to "Log in", new_session_path(resource_name) %>
      <%= link_to "Sign Up", new_registration_path(resource_name) %>
    <% end %>

  </span>
</nav>