<%= stylesheet_link_tag "categories" %>
<% if @categories.present? %>
  <h2> Список категорий </h2>
  <% @categories.each do |category| %>
    <table class="table table-bordered">
      <tr>
        <td width="40"><%= category.id %></td>
        <td width="400"><%= category.name %></td>
        <td width="200"><%= category.created_at %></td>
        <td width="200"><%= category.updated_at %></td>
        <td><%= link_to "Edit", edit_admin_category_path(category) %> </td>
        <td><%= link_to "Delete",
                        admin_category_path(category),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %> </td>
      </tr>
    </table>
  <% end %>
  <button type="submit" class="btn"><%= link_to 'Новая категория', new_admin_category_path %></button>
<% else %>
  <p>You have not categories now. </p>
<% end %>


