<!-- <#%= stylesheet_link_tag "categories" %> -->
<h3 class="header-txt-admin"> Admin products view </h3>
<% if @product.present? %>
  <h2><%= @product.title %> </h2>

<ul>
  <div id="box-container">
    <div class="card" style="width: 100%;">
      <!--    <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h5 class="card-title"><%= @product.id %> : <%= @product.title %></h5>
        <p class="card-text"><%= @product.description %></p>
        <h5>Price: <%= @product.price %><br/></h5>
        <%= @product.created_at %><br/>
        <%= @product.updated_at %><br/>
        Publisher is: <%= @product.user.name %><br>
        <p>
          <strong>Image:</strong>
          <%= image_tag(@product.image.url, alt: 'Image') if @product.image? %>
        </p>


        </a>
      </div>
    </div>
  </div>
  <td class="align-middle">
    <%= link_to "Назад к списку объявлений", admin_products_path %> | </td>
    <%= link_to "Новое объявление", new_admin_product_path %> | </td>
    <%= link_to "Редактировать", edit_admin_product_path %> | </td>
  <td class="align-middle">
    <%= link_to 'Удалить объявление',
                admin_product_path,
                method: :delete,
                data: { confirm: 'This category will be deleted! Are you sure?' } %>
  </td>

</ul>
<% else %>
  <p>You have not products now. </p>
<% end %>


